@import "tailwindcss";



/* Headings / Logo → Montserrat */
.font-monasans {
  font-family: var(--font-monasans), sans-serif;
}

/* Body / nav links → Poppins */
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

/* Special sections → Lora */
.font-lora {
  font-family: var(--font-lora), serif;
}


.bg-color{
  background-color: #F5F5DC;
}

.heading-color{
  color:#1a1a1a;
}

.text-color{
 color: #222222;
}